// Colors for components



%btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: $mainFont;
    margin-right: 1em;
    margin-top: 1em;

    &:hover {
        transform: scale(1.04);
      }
}

.btn-one {
    @extend %btn;
    @include shiftColor($yellowColors, base-dark)
}
.btn-two {
    @extend %btn;
    @include shiftColor($yellowColors, base-dark)
}
.btn-three {
    @extend %btn;
    @include shiftColor($yellowColors, base-light)
    //@extend %btn;
}