/* -----------NAV MOBILE------
 THE SIDEBAR MENU, 
 this menu-solution is from cssscipt.com*/

 .menuText {
    color: #F6F4F2;
    text-decoration: none;
    line-height: 2em;
    font-size: 2.4rem;
    font-family: $mainFont;
}

/*NAV*/

.nav {
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    background: color(grey);
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    right: -22rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 22rem;
    z-index: 1;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    
       .li {
           border-bottom: 1px solid color(grey-light);
        }
    
}

/* Style & animate the hamburger trigger when the menu is opened and closed.*/

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    right: 2rem;
    position: fixed;
    top: 2rem;
    width: 3.6rem;
    z-index: 2;
    margin-right: 15px;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.4rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
    box-shadow: 0px 0px 20px 10px #434444;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

}


main {
    margin: 0 auto;
    max-width: 1220px;
}

@media screen and (min-width: 990px) {

    


    .nav-toggle {
       display: none;
    }

    .nav {
        position: relative;
        /*position: right 0;*/
        right: 0;
        width: 100%;
        min-width: 30em;
        height: 100%;
        background-color: transparent;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        min-width: 100%;
        padding-right: 2em;

        .li{
            border-bottom: none;
        }

    }

    .li:nth-of-type(1) {
        margin-left: auto;

    }
    .li {
        margin-left: 1em;
     
    }

    .menuText {
        font-size: 1.8rem;
        box-shadow: 0px 0px 10px 5px color(grey);
        background: color(grey);
        border-radius: 0.2em;

    }

    .menuText:hover {
        transition: ease-in 1ms;
        color: #c9c7c6; 
    }



}